services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mini_framework
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mysql:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot" ]
      interval: 10s
      timeout: 10s
      retries: 5
  app:
    build: .
    ports:
      - "8000:80"
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: mini_framework
      DB_USERNAME: root
      DB_PASSWORD: root
      APP_ENV: development
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/var/www/html
volumes:
  db_data:
